html, body {	
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #000000;
}

#search-column {
	width: 25%;
	height: 85%;
	margin: 3em 1em 3em 3em;
	float: left;
	text-align: center;
}

#find-images {
	width: 20em;
	height: 4em;
	margin: auto;
	background-color: #F0F0F0;
	font-family: "Courier New", Courier, monospace;
}

#photos-column {
	width: 65%;
	height: 85%;
	border-radius: 3em;
	margin: 3em 3em 3em 1em;
	float: right;
	background-color: #FFFFFF;
}

#caroussel {
	width: 100%;
	height: 20%;
	border-top-right-radius: 3em;
	border-top-left-radius: 3em;
	background-color: #F0F0F0;
}